body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #080808;
    color: #ccc;
    
}

header {
    background-color: #14006b;
    color: #fdfcfc;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li1 {
    margin-right: 100px;
    border-bottom:currentColor #fcfcfc;
    border: 1px groove #fdfdfd; /* borda de 1px, cor #ccc */
    border-radius: 10px; /* arredondar as bordas */
    padding: 10px; /* adicionar espaçamento interno */
}

nav a {
    color: #fdfcfc;
    text-decoration: none;
}

footer {
    background-color: #01012e; /* Cor de fundo do rodapé */
    color: #fffb00; /* Cor de texto do rodapé */
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #121212; /* Cor da borda superior */
}

h1{margin-left: 500px;
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;}

p{ margin-left: 350px;
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    }

.episodiotitle{border: 4px groove #ffffff;
    padding: 1px;
    margin: 1px;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100, "YTLC" 500;
background-color: #ccc;}


    


